*{
  padding: 0;
  margin: 0;
  box-sizing: border-box
}
.table-container {
  width: 50%;
  height: auto;
  /* margin-left: 5px; */
  margin: 50px;
  /* margin-right: 200px; */
  padding: 10px;
  box-shadow: 0 4px 8px rgba(88, 86, 66, 0.1);
  border-radius: 8px;
  background-color: #fff;
}


.table-header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #050101;
  background-color: #e0f2f1;
}

.datatable {
  margin-top: 20px;
}


.datatable .datatable-column {
  text-align: left;
  padding: 7px;
  font-weight: 500;
  color: rgb(8, 57, 101);
}



@media screen and (max-width: 600px) {
  table-container {
    padding: 10px;
  }
}